
    *{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    background: #7000F6;
    height: 166vh;
  
    .navbar{
        display: flex;
        justify-content: space-between;
        color: #fff;
        margin-left: 10px;
        // margin-top: 20px;
    }

    .navbar .nav-links {
         display: flex;
        list-style: none;
        // align-items: center;
        cursor: pointer;
        padding-left: 30%;
    }

    .reg-li{
        display: none;
    }

    .connect-us{
        display: none;
    }

    .navbar .nav-links li a{
        padding: 0.25rem;
        margin: 0 0.25rem;
    }
}

.mobile-menu-icon{
    display: none;
}

.header img{
    margin-left: 37%;
    margin-top: 40px;
    border: none;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}


.btn-feswhite{
    width: 100px;
    background: #fff;
    color: #7000F6;
    border: none;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
}

.section{
    color: #fff;
//    width: 280px;
    // line-height: 30px;
    margin-left: 320px;
    margin-right: 250px;
    text-align: center;
    margin-top: 50px;

    h3{
        font-weight: 700;
        font-size: 25px;
    }
   
   p{
       font-size: 9px;
    //    line-height: 15px;
       padding-top: 20px;
   } 
  
}

.btn-secwhite{
    width: 100px;
    background: #fff;
    color: #7000F6;
    border: none;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 20px;
    height: 30px;
    text-align: center;
    font-size: 8px;
    font-weight: 600;
   
}

.its{
    line-height: -3px;
}

.content{
    text-align: center;
    margin-top: 60px;
    font-size: 12px;
    line-height: 20px;
}

.box{
    padding-bottom: 30px;
    
    margin-left: 20px;
    line-height: 20px;
    margin-top: 50px;
    display: flex;

    i{
        color: #7000F6;
    }

    h5{
        font-size: 12px;
    }

    p{
        font-size: 10px;
    }
}

.box-1,
.box-2,
.box-3,
.box-4{
    margin-bottom: 20px;
    background-color: #f4f4f4;
    padding: 15px;
    width: 25%;
    margin-left: 10px;
}

.context{
    background: #F3F6F8;
    display: flex;

    .text{
       
        margin-left: 20px;

        p{
            padding-top: 15px;
            font-size: 12px;
            padding-bottom: 20px;
        }
    }

    img{
        width: 20%;
        border: none;
        border-top: none;
        border-top-left-radius:38px ;
        border-top-right-radius:40px ;
        margin-left: 40px;
        margin-top: 70px;
    }
}

.showcase{
    display: flex;
}

.showcase img{
    width: 40%;
    margin-top: 120px;
    margin-left: 100px;
}

.show{
    margin-top: 20%;
    display: block;
    width: 30%;
    margin-left: -55%;
}

.case{
    
    line-height: 23px;
    
    // padding: 30px;

    p{
        padding-top: 12px;
        font-size: 8px;
        line-height: 15px;
        width: 170px;
    }

}

.buttons{
    margin-top: 5px;
    background: #7000F6;
    margin-bottom: 10px;
    color: #fff;
    width: 90px;
    border-radius: 20px;
    padding-left: 15px;
    align-content: center;
    padding-bottom: 7px;
    // height: 30px;
    // line-height: 10px;

    span{
        color: #f4f4f4;
        padding-left: 25px;
        font-size: 8px;
    }

  p{
    font-size: 10px;
    font-weight: 600;
    padding-left: 25px;
  }

  i{
    margin-top: 3px;
    padding-left: 20px;
    margin-left: -16px;
    padding-top: 6px;
    color: #fff;

  }
   
}


.button{
    background:#f4f4f4 ;
    // margin-left: 20px;
    margin-bottom: 20px;
    width: 90px;
    border-radius: 20px;
    padding-left: 15px;
    align-content: center;
    padding-bottom: 7px;
    // height: 30px;
    // line-height: 10px;

    span{
        padding-left: 25px;
        font-size: 8px;
    }

  p{
    font-size: 10px;
    font-weight: 600;
    padding-left: 25px;
  }

  i{
    margin-top: 3px;
    padding-left: 20px;
    margin-left: -16px;
    padding-top: 6px;
    color:  #7000F6;

  }
   
}


.fab{
    position: absolute;
  
}


.say{
    margin-left: 50px;
    margin-top: 50px;

    h2{
        margin-left: 10px;
    }

    i{
        padding-left: 10px;
        color: #7000F6;
        font-size: 40px;
        margin-bottom: 20px;
        
    }
}

.second-box{
    margin-top: 30px;
    display: flex;
}

.second-box .option{
    box-sizing: border-box;
    border: 1px #ccc solid;
    margin-bottom: 20px;
    margin-left: 9px;
    width: 22%;
    padding: 20px;
    line-height: 20px;
    border-radius: 10px;

    p{
        font-size: 10px;
    }

    span{
        font-size: 10px;
        font-weight: 600;
    }

    img{
        width: 20px;
    }
}


.dot{
    padding-left: 30px;
    width: 10px;
    height: 5px;
}

.line-1 i{
    color: #7000F6;
}


.bg{

    img{
        width: 100%;
        margin-top: 80px;
    }
}

.bg-text{
    width: 30%;    
    text-align: center;
    margin-left:35%;
    // margin-top: -30%;
    color: #fff;
   

    h3{
        font-size: 25px;
    }

    p{
        padding-top: 10px;
        font-size: 10px;
        // line-height: 15px;
    }
}

.btn-purple{
    width: 160px;
    background: #7000F6 ;
    color: #fff;
    border: none;
    margin-top: 10px;
    border-radius: 3px;
    // height: 35px;

    p{
        font-size: 10px;
        text-align: center;
        padding-bottom: 10px;
    }
}

.footer{
    // margin-top: 120px;
    background-color: #E7ECF0;
}

.third-box{
    display: flex;
}

.card-1 h2{
    color: #7000F6;
    font-weight: 800;
}

.card{

    padding: 30px;
    padding-top: 70px;
    width: 30%;
    margin-bottom: 8px;
  
    p{
        font-size: 10px;
     line-height: 20px;

    }
}

.end {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 60px;
    padding-bottom: 50px;

    p{
        font-size: 10px;
        margin-top: 10px;
    }

    span{
        font-size: 10px;
        padding-left: 300px;
        margin-top: 10px;
    }
}

.end-icon{
    display: flex;
}

.end-icons{
    width: 15px;
    height: 15px;
    border: none;      
    background-color: #F1F5FB;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;

}




@media (max-width:500px){

    body{
        overflow-x: hidden;
    }

    .header{
        height: 100%;
        width: 100%;
    }

    .header img{
        width: 60%;
        margin-left: 70px;
        margin-bottom: -4px;
    }

    .navbar .nav-links li {
        display: none;
    }

    .navbar .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: #fff;
        top: 0;
        transition: all 0.5s ease-out;
        // width: 100%;
        height: 610px;
        left: 0;
        right: 0;
        padding-top: 50px;
        padding-bottom: 100px;
    } 

    .reg{
        display: block;
    }

    .connect{
        display: block;
        position: absolute;
        top: 550px;
        left: 15px;
        right: 30px;
        color: black;
    }

    .connect span{
        color: #A5A9B2;
        margin-left: 10px;
        font-size: 10px;
    }   

    .connect .icon{      
        font-size:13px;
    }


    .navbar .logo{
        position: absolute;
        display: block;
        color: #7000F6;
        z-index: 20;
    }

    .fa-minus:before {
        margin-left: 70px;
    }

    .navbar .nav-links-mobile{
        color: #A5A9B2;
        font-weight: 1000;
        font-size: 30px;
        padding: 40px;
        padding-top: 100px;
        width: 100%;
        transition: all 0.5s ease;
    }

    .navbar .nav-links-mobile li{
        padding-top: 25px;
    }

    .navbar .nav-links-mobile  .request{
        color: #7000F6;
        padding-top: 50px;
        font-weight: 900;
    }

    .mobile-menu-icon{
        display: block;
        position: absolute;
        color: #E5E5E5;
        cursor: pointer;
        border: none;
        background: none;
        outline: none;
        left: 65%;
        top: 11px;
        font-size: 25px;
        // width: 10px;
    }

    .other-content {
        text-align: center;
    }

    .navbar h1{
        font-size:20px; 
        font-weight: 1000;
        margin-top: 15px
        
    }

    .btn-feswhite{
        margin-right: 10px;
          width: 70px;
    }
    
    .section{
        margin-left: 20%;
        width: 60%;
    }

    .section p{
        font-size: 12px;
        color: #F7F8FA;
        font-weight: 400;

    }

    .section .btn-secwhite{
        width: 150px;
        height: 40px;
        font-size: 13px;
        font-weight: 700;
    }

    .section .its{
        margin-left: -15px;
    }

    .content{
        margin-left: 50px;
         margin-top: 80px;
        width: 250px;
    }

    .content h3{
        font-size: 20px;
        font-weight: 700;
        padding: 20px;
    }

    .content p{
        font-size: 14px;
        width: 250px;
        color: #7C8087;
    }

    .box{
        display: block;
        width: 200%;
        margin-left: 30px;
    }

    .box i{
    border: none;
    background-color: #fff;
    width: 40px;
    height: 30px;
    margin-left: 40px;
    line-height: 25px;
    padding-top: 15px;
    border-radius: 50%;
    padding-bottom: 6px;
    padding-left: 15px;
    font-size: 20px;
    }

    .box h5{
        padding-top: 10px;
        padding-left: 40px;
    }

    .box p{
        padding-top: 10px;
        width: 80%;
        font-size: 15px;
        padding-left: 40px;
        padding-bottom: 10px;    
        color: #7C8087;
    }

    .dbox{
        border-radius: 5px;
        width: 40%;
        margin-left: -12px;
    }

    .context{
        display: block;
    }

    .text h4{
        width: 15rem;
        padding-top: 30px;
        margin-left: 30px;
        font-size: 30px;
        line-height: 40px;
    }

    .text p{
        width: 15rem;
        text-align: center;
        margin-left: 30px;
        color: #7C8087;
        font-size: 15px;
    }

    .text .btn-secwhite{
        margin-left: 60px;
        width: 180px;
        height: 50px;
        font-size: 13px;
        font-weight: 800;
        border-radius: 25px;
    }

    .context img{
        width: 80%;
        margin-left: 35px;
        margin-bottom: -4px;
    }

    .showcase{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
        margin-left: 50px;
    }

    .showcase img{
        width: 100%;
        margin-left: 10px;
    }
    
    .case h4{
        font-size: 20px;
        font-size: 25px;
       line-height: 30px;
    }

    .case p{
        font-size: 12px;
        line-height: 25px;
        width: 200px;
        padding-bottom: 20px;
        color: #7C8087;
    }

     .buttons{   
        text-align: center;
        width: 150px;
        padding-right: 10px;
        border: none;
        border-radius: 50px;
        padding-top: 7px;
        align-items: center;
        margin-bottom: 30px;
        padding-bottom: 15px;
        // margin-left: 10px;
    }

     .buttons p{
    font-size: 15px;
    // padding-top: 5px;
    margin-left: -13px;
    font-weight: 600;
    }

     .buttons span{
        font-size: 10px;
        margin-left: -10px;
    }

     .buttons .fab{
        font-size: 30px;
        margin-top: 3px;
        margin-left: -45px;    
    }
    
     .button{   
        text-align: center;
        width: 150px;
        padding-right: 10px;
        border: none;
        border-radius: 50px;
        padding-top: 7px;
        align-items: center;
        margin-bottom: 30px;
        padding-bottom: 15px;
        // margin-left: 10px;
    }

     .button p{
    font-size: 15px;
    // padding-top: 5px;
    margin-left: -13px;
    font-weight: 600;
    }

     .button span{
        font-size: 10px;
        margin-left: -50px;
    }

     .button .fab{
        font-size: 30px;
        margin-top: 3px;
        margin-left: -80px;    
    }
    
    .second-box{
        overflow: scroll;
    }
    

    .say .option{
        min-width: 80%;
    }

    .say .fad{
        font-size: 40px;
        margin-bottom: 20px;
    }

    

    .bg{
        width: 100%;
        height: 100%;
    }

    .bg img{
        height: 200px;
        // width: 100%;
        object-fit: cover;
    }

    .bg-text{
        line-height: 20px;
        width: 60%;
        margin-left: 50px;
        padding: 20px;
        position: relative;
        top: -12rem;
    }

    .bg-text h3{
        font-size: 16px;
    }

    .bg-text p{
        font-size: 10px;
        line-height: 10px;
        
    }

    .btn-purple{
        height: 50px;
    }

    .btn-purple p{
        font-size: 13px;
        font-weight: 700
    }
    .third-box{
        display: flex;
        flex-direction: column;
    }

    .footer{
        margin-top: -50px;
    }

    .card{
        width: 100%;
        // margin-bottom: -72px;
    }

    .card-1{
        width: 200px;
    }

    .card h4{
        padding-bottom: 20px;
    }

    .cardi p{
        font-size: 14px;
        line-height: 30px;
        color: #4A5466;
        padding-top: 10px
    }

    .card-4 h4{
        padding-bottom: 50px
    }

    .end{
        display: block;
        padding-bottom: 80px;
        margin-top: -5rem;
        line-height: 30px;
    }

        .end p{
            font-size: 13px;
            position: relative;
            top: 150px;
            margin-top: 30px;
            color: #7C8087;
        }

    .end span{
        margin-top: 50px;
        margin-left: -18rem;
        font-size: 15px;
        font-weight: 700;
        color: #4A5466;

    }

    .end-icon{
        margin-top: 20px
    }
 };


 @media (min-width:501px) and (max-width:768px)
 {

    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .header{
        height: 100%;
        width: 100%;
    }

    .header .navbar .nav-links {
        display: flex;
        list-style: none;
        cursor: pointer;
        padding-left: 30%;
        margin-top: 15px;
        font-size: 20px;
    }

    .header h1{
        margin-top: 5px;
    }

    .section {
    color: #fff;
    width: 300px;
    // line-height: 30px;
    margin-left: 30%;
    }

    .section h3 {
        font-weight: 700;
        font-size: 30px;
    }

    .btn-secwhite {
        width: 130px;
        background: #fff;
        color: #7000F6;
        border: none;
        margin-right: 20px;
        margin-top: 10px;
        border-radius: 20px;
        height: 30px;
        text-align: center;
        font-size: 10px;
        font-weight: 600;
    }

    .section p {
        font-size: 9px;
        line-height: 15px;
        padding-top: 20px;
    }

    .section .its{
        margin-left: -15px;
    }

    .header img {
        margin-left: 32%;
        margin-top: 40px;
        margin-bottom: -4px;
        border: none;
        border-top-left-radius: 27px;
        border-top-right-radius: 27px;
    }

    .content {
        text-align: center;
        margin-top: 60px;
        font-size: 12px;
        line-height: 20px;
    }
    
    .content p{
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .box {
        padding-bottom: 30px;
        margin-left: 20px;
        line-height: 20px;
        margin-top: 50px;
        display: flex;
        cursor: pointer;
    }

    .box i{
        border: none;
        background-color: #fff;
        width: 15px;
        padding-top: 10px;
        border-radius: 50%;
        padding-bottom: 6px;
        padding-left: 5px;
        font-size: 10px;
        }
    
        .box .dbox{
        border-radius: 5px;

        }

        .box .dbox:hover{
            border: #7000F6 1px solid;
        }

        .context{
            display: flex;
        }

        .context .text{   
            padding: 100px;
            margin-left: 30px;
        }

        .context h4{
            width: 150px;
            font-size: 20px;
        }

        .context p{
            padding-top: 15px;
            font-size: 12px;
            padding-bottom: 20px;
            width: 220px;
            color: #777F8C;
        }
    
        .context img{
            width: 28%;
            border: none;
            border-top: none;
            border-top-left-radius: 38px;
            border-top-right-radius: 40px;
            margin-left: -28px;
            margin-top: 70px;
        }

        .showcase{
            display: flex;
        }
        
        .showcase img{
            width: 80%;
        }
        
        .shaw{
            display: flex;
            flex-direction: column;
            width: 500px;
            padding-top: 28%;
            margin-left: -60px;
        }
        
        .case{
            line-height: 23px;          
        }

        .case h4{
            font-size: 20px;
        }

        .case p{
            padding-top: 12px;
            font-size: 10px;
            line-height: 15px;
            width: 230px;
            color: #777F8C;
        }

        .second-box{
            overflow: scroll;
        }
    
        .second-box p{
            font-size: 15px;
        }
    
        .say .option{
            min-width: 40%;
        }
    
        .say .fad{
            font-size: 40px;
            margin-bottom: 20px;
        }

        // .bg{
        //     width: 100%;
        //     // height: 100%;
        // }
    
        .bg img{
            // height: 100%;
            // width: 100%;
            object-fit: cover;
        }
    
        .bg-text{
            // line-height: 20px;
            width: 50%;
            /* margin-left: 70px; */
            padding: 20px;
            position: relative;
            top: -15rem;
        }
    
        .bg-text h3{
            font-size: 25px;
            width: 300px;
        }
    
        .bg-text p{
            // line-height: 10px;
            font-size: 10px;
            width: 300px;
        }

        .btn-purple{
            width: 160px;
            background: #7000F6 ;
            color: #fff;
            border: none;
            // margin-top: 10px;
            border-radius: 3px;
            margin-left: -5rem;
            // height: 35px;
        }

        .btn-purple p{
            font-size: 12px;
            text-align: center;
            padding-bottom: 10px;
            margin-left: -4rem;
        }

        .footer {
            margin-top: -28%;
            background-color: #E7ECF0;
        }

        .end span {
            font-size: 10px;
            padding-left: 150px;
            margin-top: 10px;
        }
     
}

@media (min-width:769px) and (max-width:1200px){
   
    .header {
        background: #7000F6;
        height: 100%;
    }

    .header .navbar {
        display: flex;
        justify-content: space-between;
        color: #fff;
        margin-left: 10px;
        margin-top: 20px;
    }
    
    .header .navbar .nav-links {
        display: flex;
        list-style: none;
        cursor: pointer;
        padding-left: 35%;
        margin-top: 15px;
        font-size: 20px;
    }

    .btn-feswhite {
        width: 100px;
        background: #fff;
        color: #7000F6;
        border: none;
        margin-top: 10px;
        border-radius: 5px;
        height: 30px;
    }

    .section {
        color: #fff;
        text-align: center;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .section h3 {
        font-weight: 700;
        font-size: 28px;
    }

    .section p {
        font-size: 10px;
        line-height: 15px;
        padding-top: 20px;
    }

    .btn-secwhite {
        width: 100px;
        background: #fff;
        color: #7000F6;
        border: none;
        margin-right: 20px;
        margin-top: 10px;
        border-radius: 20px;
        height: 30px;
        text-align: center;
        font-size: 8px;
        font-weight: 600;
    }

    .section .its{
        margin-left: -20px;
    }

    .header img {
        // margin-left: 28%;
        margin-top: 40px;
        border: none;
        border-top-left-radius: 27px;
        border-top-right-radius: 27px;
        margin-bottom: -4px;
    }
    
    .content {
            text-align: center;
            margin-top: 60px;
            font-size: 12px;
            line-height: 20px;
            margin-left: auto;
            margin-right: auto;
    }
    
    .content p{
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .box {
        padding-bottom: 30px;
        margin-left: 20px;
        line-height: 20px;
        margin-top: 50px;
        display: flex;
        cursor: pointer;
    }

    .box .dbox{
        border-radius: 5px;
        margin-bottom: 20px;
        background-color: #f4f4f4;
        padding: 15px;
        // width: 17%;
        margin-left: 10px;
        }

    .box h5 {
            font-size: 12px;
    }

    .box p {
        font-size: 10px;
    }

    .box i{
        border: none;
        background-color: #fff;
        width: 15px;
        padding-top: 10px;
        border-radius: 50%;
        padding-bottom: 6px;
        padding-left: 5px;
        font-size: 10px;
    }
        
               
    .box .dbox:hover{
        border: #7000F6 1px solid;
    }

    .context{
        display: flex;
    }

    .context .text{   
        padding: 100px;
        margin-left: auto;
    }

    .context h4{
        width: 170px;
        font-size: 20px;
    }

    .context p{
        padding-top: 15px;
        font-size: 12px;
        padding-bottom: 20px;
        width: 220px;
        color: #777F8C;
    }

    .context img{
        width: 20%;
        border: none;
        border-top: none;
        border-top-left-radius: 38px;
        border-top-right-radius: 40px;
        margin-left: -28px;
        margin-top: 100px;
        margin-right: auto;
    }

    .showcase{
        display: flex;
    }
    
    .showcase img{
        width: 70%;
    }
    
    .shaw{
        display: flex;
        flex-direction: column;
        width: 500px;
        padding-top: 27%;
        margin-left: -20%;
        
    }
    
    .case{
        line-height: 23px;          
    }

    .case h4{
        font-size: 20px;
    }

    .case p{
        padding-top: 12px;
        font-size: 10px;
        line-height: 15px;
        width: 230px;
        color: #9faabd;
    }

    .buttons {
        margin-top: 5px;
        background: #7000F6;
        margin-bottom: 10px;
        color: #fff;
        width: 90px;
        border-radius: 20px;
        padding-left: 15px;
        align-content: center;
        padding-bottom: 7px;
    }

    .buttons i {
        margin-top: 3px;
        padding-left: 20px;
        margin-left: -16px;
        padding-top: 6px;
        color: #fff;
    }

    .buttons span {
        color: #f4f4f4;
        padding-left: 25px;
        font-size: 8px;
    }

    .buttons p {
        font-size: 10px;
        font-weight: 600;
        padding-left: 25px;
    }

    .button {
        background: #f4f4f4;
        margin-bottom: 20px;
        width: 90px;
        border-radius: 20px;
        padding-left: 15px;
        align-content: center;
        padding-bottom: 7px;
    }

    .button i {
        margin-top: 3px;
        padding-left: 20px;
        margin-left: -16px;
        padding-top: 6px;
        color: #7000F6;
    }

    .button span {
        padding-left: 25px;
        font-size: 8px;
    }

    .button p {
        font-size: 10px;
        font-weight: 600;
        padding-left: 25px;
    }


    .say{
        margin-left: 50px;
        margin-top: 50px;
    
        h2{
            margin-left: 10px;
        }
    
        i{
            padding-left: 10px;
            color: #7000F6;
            font-size: 40px;
            margin-bottom: 20px;
            
        }
    }

    .second-box{
        overflow: scroll;
    }

    .second-box .option {
        box-sizing: border-box;
        border: 1px #ccc solid;
        margin-bottom: 20px;
        margin-left: 9px;
        /* width: 22%; */
        padding: 20px;
        line-height: 20px;
        border-radius: 10px;
    }

    .bg img {
        object-fit: cover;
    }

    .bg-text {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        position: relative;
        top: -20rem;
    }

    .bg-text h3 {
        font-size: 45px;
    }

    .bg-text p {
        padding-top: 10px;
        font-size: 18px;
    }

    .btn-purple {
        width: 200px;
        background: #7000F6;
        color: #fff;
        border: none;
        margin-top: 10px;
        border-radius: 3px;
        height: 35px; 
    }

    .footer{
        margin-top: -28%;
    }

    .third-box {
        display: flex;
    }

    .card {
        padding: 30px;
        padding-top: 70px;
        width: 30%;
        margin-bottom: 8px;
    }

    .card-1 h2 {
        color: #7000F6;
        font-weight: 800;
    }

    .card p {
        font-size: 10px;
        line-height: 20px;
    }

    .end {
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 60px;
        padding-bottom: 50px;
    
        p{
            font-size: 10px;
            margin-top: 10px;
        }
    
        span{
            font-size: 10px;
            padding-left: 300px;
            margin-top: 10px;
        }
    }
    
    .end-icon{
        display: flex;
    }
    
    .end-icons{
        width: 15px;
        height: 15px;
        border: none;      
        background-color: #F1F5FB;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
    
    }

    
}

@media (min-width:1201px) {
   
    .header {
        background: #7000F6;
        height: 100%;
        width: 100%;
    }

    .header .navbar {
        display: flex;
        justify-content: space-between;
        color: #fff;
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .header .navbar .nav-links {
        display: flex;
        list-style: none;
        cursor: pointer;
        padding-left: 35%;
        margin-top: 10px;
        font-size: 20px;
    }

    .btn-feswhite {
        width: 100px;
        background: #fff;
        color: #7000F6;
        border: none;
        margin-top: 10px;
        border-radius: 5px;
        height: 30px;
    }

    .section {
        color: #fff;
        text-align: center;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .section h3 {
        font-weight: 700;
        font-size: 50px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .section p {
        font-size: 18px;
        padding-top: 20px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-secwhite {
        width: 150px;
        background: #fff;
        color: #7000F6;
        border: none;
        margin-right: 20px;
        margin-top: 10px;
        border-radius: 20px;
        /* height: 30px; */
        text-align: center;
        font-size: 13px;
        font-weight: 600;
    }

    .section .its{
        margin-left: auto;
    }

    .header img {
        margin-left: 40%;
        margin-top: 40px;
        border: none;
        border-top-left-radius: 27px;
        border-top-right-radius: 27px;
        margin-bottom: -4px;
    }

    .content {
        text-align: center;
        margin-top: 60px;
        font-size: 12px;
        line-height: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .content p{
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    }

    .box {
        padding-bottom: 30px;
        margin-left: 20px;
        line-height: 20px;
        margin-top: 50px;
        display: flex;
        cursor: pointer;
    }

    .box .dbox{
        border-radius: 5px;
        margin-bottom: 20px;
        background-color: #f4f4f4;
        padding: 30px;
        // width: 17%;
        margin-left: 10px;
        }

    .box h5 {
            font-size: 12px;
    }

    .box p {
        font-size: 10px;
    }

    .box i{
        border: none;
        background-color: #fff;
        width: 15px;
        padding-top: 10px;
        border-radius: 50%;
        padding-bottom: 6px;
        padding-left: 5px;
        font-size: 10px;
    }
        
               
    .box .dbox:hover{
        border: #7000F6 1px solid;
    }

    .context{
        display: flex;
    }

    .context .text{   
        padding: 100px;
        margin-left: auto;
        margin-top: 25px;
    }

    .context h4{
        width: 170px;
        font-size: 20px;
    }

    .context p{
        padding-top: 15px;
        font-size: 12px;
        padding-bottom: 20px;
        width: 220px;
        color: #777F8C;
    }

    .context img{
        width: 20%;
        border: none;
        border-top: none;
        border-top-left-radius: 38px;
        border-top-right-radius: 40px;
        margin-left: -28px;
        margin-top: 100px;
        margin-right: auto;
    }

    .showcase{
        display: flex;
    }
    
    .showcase img{
        width: 70%;
    }
    
    .shaw{
        display: flex;
        flex-direction: column;
        width: 500px;
        padding-top: 27%;
        margin-left: -20%;
        
    }
    
    .case{
        line-height: 23px;          
    }

    .case h4{
        font-size: 20px;
    }

    .case p{
        padding-top: 12px;
        font-size: 10px;
        line-height: 15px;
        width: 230px;
        color: #9faabd;
    }

    .buttons {
        margin-top: 5px;
        background: #7000F6;
        margin-bottom: 10px;
        color: #fff;
        width: 100px;
        border-radius: 25px;
        padding-left: 15px;
        align-content: center;
        padding-bottom: 7px;
    }

    .buttons i {
    padding-left: 20px;
    margin-left: -20px;
    color: #fff;
    font-size: 25px;
    }

    .buttons span {
        color: #f4f4f4;
        padding-left: 25px;
        font-size: 8px;
    }

    .buttons p {
        font-size: 10px;
        font-weight: 600;
        padding-left: 25px;
    }

    .button {
        background: #f4f4f4;
        margin-bottom: 20px;
        width: 100px;
        border-radius: 25px;
        padding-left: 15px;
        align-content: center;
        padding-bottom: 7px;
    }

    .button i {
        padding-left: 20px;
        margin-left: -20px;
        font-size: 20px;
        color: #7000F6;
    }

    .button span {
        padding-left: 25px;
        font-size: 8px;
    }

    .button p {
        font-size: 10px;
        font-weight: 600;
        padding-left: 25px;
    }

    .bg img {
        object-fit: cover;
    }

    .bg-text {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        position: relative;
        top: -25rem;
    }

    .bg-text h3 {
        font-size: 56px;
    }

    .bg-text p {
        padding-top: 10px;
        font-size: 18px;
        color: #ccc;
    }

    .btn-purple {
        width: 200px;
        background: #7000F6;
        border: none;
        margin-top: 10px;
        border-radius: 3px;
        // height: 35px; 
    }


    .btn-purple p{
        color: #fff;
    }

    .footer{
        margin-top: -25%;
    }

    .third-box {
        display: flex;
        padding-top: 25px;
    }

    .card {
        padding: 30px;
        padding-top: 70px;
        width: 30%;
        margin-bottom: 8px;
    }

    .card-1 h2 {
        color: #7000F6;
        font-weight: 800;
    }

    .card-1 p{
        width: 150px;
    }

    .card p {
        font-size: 10px;
        line-height: 20px;
    }

    .end {
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 60px;
        padding-bottom: 50px;
    
        p{
            font-size: 10px;
            margin-top: 10px;
        }
    
        span{
            font-size: 10px;
            padding-left: 300px;
            margin-top: 10px;
        }
    }
    
    .end-icon{
        display: flex;
        margin-right: 10%;
    }
    
    .end-icons{
        width: 15px;
        height: 15px;
        border: none;      
        background-color: #F1F5FB;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
    
    }



}