// *{
//     overflow-x: hidden;
// }

body{
    overflow-x: hidden;
}

.cardd{
    background-color: hsl(216, 56%, 96%);
    margin-left: 7rem;
    // margin-right: Auto;
    margin-top: -8rem;
    border-radius: 10px;
    width: 80%;
    padding: 50px;
    display: flex;
    flex-direction: row;
}

.cardd ul{
    padding-right: 10rem;
    border-right: 1px #ccc solid;
}

 .cardd li {
    margin-bottom: 20px;
}

.cardd-text{
margin-left: 5rem;
width: 450px;
}

.cardd-text p {
    margin-bottom: 20px;
}

.component{
    background-color:#7000F6 ;
    height: 80vh;
    margin-top: -10px;
}

.component-text{
    text-align: center;
    padding-top: 6%;
}

.showmax{
    display: flex;
}

.image{
    margin-left: 30px;
}

.showmax .image-1 img{
    width: 40%;
    margin-left: 20%;
    margin-top: 10%;
}

.showmax .image-2 img{
    // position: absolute;
    width: 70%;
    margin-left: 25%;
    margin-top: -30%;
}

.showmax .work{
    margin-top: 14%;
    // margin-left: -50px;
}

.showmax .work .work-button{
    display: none;
}

.f-box{
    display: flex;
    margin-top: 100px;
    margin-left: 80px;
}

.f-box-1:hover{
    background-color: #7000F6;
    color: #fff;
}

.f-box-1 p:hover{
    color: #fff;
}

.f-box-1{
    width: 350px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.f-box-1 i{
    padding: 5px;
}

.we-card-header{
    margin-left: 50px;
}

.we-cardd{
    margin-left: 70px;
    margin-top: 10%;
}

.we-card-header h1{
    font-size: 30px;
    border-bottom: #ccc 1px solid;
    border-left: 10px;
    padding-bottom: 20px;
    // font-weight: bolder;
}

.we-card-text{
    margin-top: 100px;
    display: flex;
}

.we-card-1{
    margin-left: 50px;
}

.we-card-2{
    display: flex;
    margin-top: 80px;
}

@media (max-width:500px){
    body{
    overflow-x: hidden;
    }

    .cardd{
        display: block;
        margin-left: 0;
         margin-top: -5px;
         border-radius: unset;
         width: 100%;
    }

    .cardd ul{
        border: none;
        width: 50rem;
        display: flex;
        margin-left: -20px;
    }

    .cardd li{
        padding-left: 20px;
    }

    .cardd-text {
        margin-left: 0px;
        margin-top: 20px;
        width: 300px;
    }

    .cardd .bord{
        overflow: scroll;
    }

    .image {
        margin-left: -20px;
        margin-top: 30%;
    }

    .showmax{
        display: block;
    }

    .showmax .work{
        margin-left: 20px;
    }

    .showmax .work .work-buttons{
        display: block;
    }

    .showmax .work .sec-work-button{
        display: none;
    }

    .f-box{
        display: block;
        margin-left: -5px;
    }


    .we-cardd{
        margin-left: -20px;
    }

    .we-card-header {
        margin-left: 50px;
        margin-top: 50%;
    }

    .we-card-text {
        margin-top: 100px;
        display: block;
    }

    .we-card-1 {
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .we-card-2{
        display: block;
    }

    .third-box {
        display: flex;
        flex-direction: column;
        margin-top: -50%;
    }
}

@media (min-width:501px) and (max-width:768px){
    // body{
    //     overflow-x: hidden;
    // }

    .header{
        // height: 100%;
        width: 100vw;
    }

    .component {
        background-color: #7000F6;
        height: 50vh;
        margin-top: -10px;
        width: 100vw;
    }

    .showmax {
        display: flex;
        margin-top: 50px;
    }

    .f-box {
        display: flex;
        margin-top: 100px;
        margin-left: 80px;
        // overflow: scroll;
    }


}

@media (min-width:769px) and (max-width:1200px){

    .component {
        background-color: #7000F6;
        height: 50vh;
        margin-top: -10px;
    }

    .f-box{
        margin-left: -10px;
    }

    .f-box p{
        width: 270px;
    }

    .cardd{
        margin-top: -20%;
    }

    .we-card-header{
        margin-left: -10px;
    }

    .we-card-1{
        margin-left: -10px;
    }

    .we-card-2{
        margin-left: -10px;
    }
}